.container-fluid{
	font-family: 'Raleway', sans-serif;
}
header{
	height:100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/background.jpg) no-repeat;
	background-size:cover;
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
}
.headWelcome{
	color:white;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
}
.headWelcome #title{
	font-size:60px;
	font-weight:400;
}
.headWelcome #subtitle{
	font-size:32px;
	font-weight:300;
	padding:0 40px;
}
.login{

	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.loginbck{
	    background-color: rgba(0,0,0,0.4);
    height: 100%;
}

.content{
	width:90%;
	margin:auto;
	text-align:center;
	display:block;
}
.currentHide{
	opacity:0.4;
}
.headTitle{
	display:inline-block;
	margin:0px 10px;
	color:white;
	font-size:42px;
	font-weight: 300;
	letter-spacing: -0.5px;
	cursor:pointer;
}
.headTitlee{
		font-size:42px;
	font-weight: 500;
}
.content img{
	width:20%;
	height:20%;
}
.content h1{
	margin-bottom:0px;
	letter-spacing: 5px;
}
.content h3{
	margin-top:40px;
}
.content span{
	background-color:rgba(0,0,0,0.3);
	color:white;
}
.content .input-group-addon{
	background-color:rgba(0,0,0,0.3);
	color:white;
	padding:10px 15px 10px 15px;
	border-right:solid;
	border-color:white;
	border-width:1px;
	border-radius:0px;
}
.content .input-group{
	margin-top:5px;
}

.content form{
	color:black;
}
.content input{
	color:white;
	background-color:rgba(0,0,0,0.3);
	border-radius:0px;
	border:none;
}
.content .input-group-addon:first-child {
	border:none;
    border-right: solid;
    border-width:1px;

	color:white;
}
.content input:focus{
	border:none;
}

.content button{
	
	padding-top: 10px;
	padding-bottom: 11px;
	width:100%;
	margin:auto;
	color:white;
	border:none;
	background-color:transparent;
	font-size:19px;
	margin-top:10px;
	transition:0.2s;
}
.input-group-addon{
	    padding: 5px 12px !important;
}
.content button:hover{
	background-color:#33cc33;
}
.content input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.content input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.content input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.content input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.description{
	height: auto;
	text-align:center;
	background-color:white;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
}

.description img{
	width:200px;
	height:200px;
}
.description img:hover{
	opacity:1;
}

.imgtitle{
	font-weight:700;
	margin-top:20px;
	font-size:17px;
}


.howitworks{
	height: auto;
	text-align:center;
	background-color:#009688;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
}
.howitworks h4{
	font-weight: 500;
	color:white;
	padding-bottom:20px;
}
.circleborder{
	cursor:pointer;
	color:white;
	font-weight: 400;
	font-size:20px;
	padding-top: 22px;
padding-left: 5px;
	border:dotted;
	border-radius:50%;
	display:inline-block;
	margin-right:70px;
		margin-left:70px;
	width:80px;
	height:80px;
}
.startRotate{
	transition: all 0.6s;
	transform: scale(1.3);
}
.finish{
	transition: all 0.6s;
	transform: scale(1);
}

@keyframes rotating{
	from{transform: scale(1);}
	to{transform: scale(1.5);}
}

.footer{
	background-color:white;
	text-align:center;
	font-size:13px;
	padding:20px;
}


@media screen and (max-width:768px){
	header{
		height:auto;
		min-height:600px;
	}
	.loginbck{
		height:300px;
	}
	.headWelcome{
	    padding: 40px 0px;
		top:auto;
		transform:none;
	}
}
@media screen and (max-width:1024px){
	.headTitle{
		display:block;
		margin:0 auto;
	}
}