.removeOutline:focus{
	outline-width: 0;
}
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: 100% !important; 
    vertical-align: middle;
}
}
.form-control:focus, .unitSelect:focus, .rightBarinput:focus{
     border-color: #5cb85c !important; 
    outline: 0 ;
}
input.rightBarinput::-webkit-input-placeholder {
  color: white;
}


.mealHead{
	width:100%;
	height:150px;
	margin:auto;
	text-align:center;
}
.mealHead:hover{
	cursor:pointer;
	opacity:0.8;
}
.mealHead img{
	margin-top:30px;
	height:60%;
}
.mealName{
	background-color:white;
	width:100%;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
	margin-bottom:10px;
	cursor:pointer;
}
.custom-padding{
	padding:10px;
}

.mealName div{
	font-size:13px;
	transition:all linear 0.2s;
}
.mealName button{
	    margin-right: 0px;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 3px 15px;
    border: none;
    background-color: #ff4d4d;
    color: white;
}
.mealName button:hover{
	background-color: #ff8888;
}
.mealName div.ng-hide{
	opacity:0;
} 
.day{
	width:14.28%;
	display:inline-block;
}

.seven-cols{
	background-color:white;
	margin-top:40px;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    padding-right:0px;
    padding-left:0px;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  	padding-right:0px;
    padding-left:0px;
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.table-header{
	text-align:left;
	font-weight: bold;
	font-size:25px;
	padding:15px;
	letter-spacing: -0.5px
}
.table-footer{
	text-align:center;font-size:17px;font-weight:bold;
	padding:15px;
}

.day-header{

	cursor:pointer;
	word-wrap: break-word;
	text-align:center;
	padding:10px;
	font-size:17px;
	letter-spacing: 1px;
	border-bottom:solid;
	border-width:1px;
	border-color:gray;
}
.day-header:hover{
	background-color:#e6f7ff;
}

.meal-element{
	padding:10px;
	text-align:center;
}
.sel {
    background-color:#e6f7ff;
}

#formcontent{
	margin: 0 auto;
	width:70%;
	background-color:white;
	padding:20px;
	border-radius:5px;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
}
#formcontent #mealNameInput {
	border:none;
	background:none;
	padding:6px 10px;
	font-size:18px;
}
#formcontent #mealNameInput:focus {
	border:none;
	outline:none;
}
#formcontent #ingredientsTitle{
	text-align:center;
	font-size:15px;
	padding-top:15px;
}
#formcontent #ingredientsTitle > *{
	width:33%;
	display:inline-block;
}
#formcontent #ingredientsList{
	width:100%;
	display:inline-block;
	text-align:center;
}
#formcontent #ingredientsList .ingredientsRow{
	width:100%;
	display:inline-block;
}

#formcontent #ingredientsList .ingredientsRow input{
		width:100%;
	text-align:center;
	background:none;
	border:none;
	border-radius:0;
	border-bottom:solid 1px black;
}

#formcontent #ingredientsList .ingredientsRow select{
	text-align-last:center;
	cursor:pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
	width:100%;
	padding:3px 0px;
	background:none;
	border:none;
	border-bottom:solid 1px black;
}
#formcontent #ingredientsList .ingredientsRow select:focus{
	border:none;
	outline:none;
}
#formcontent #ingredientsList .ingredientsRow select::-ms-expand{
	display: none;
}
#formcontent #ingredientsList .ingredientsRow input:focus {
	border-bottom:solid 1px #60D502;
	outline:none;
}
#formcontent #ingredientsList .ingredientsRow select:focus {
	border-bottom:solid 1px #60D502;
	outline:none;
}

#formcontent i{
	cursor:pointer;
	color:#60D502;
	font-size:20px;
}
#formcontent button{
	background-color: #60D502;
	border-color:#60D502;
	font-weight:bold;
	margin-top:15px;
	width:100%;
}
#removeIcon{
	float: right;
    top: 3px;
    left: 1px;
    color: #ff4d4d;
}
#showContent:hover{

	transition-duration: 0.2s;
}
.edit{
	width:65%;
	margin: 0 auto;
	margin-top:10px;
}

.edititem{
/*	cursor:pointer;*/
	color:gray;

	padding-left: 5px;color:gray;

}
/*.edititem:hover{
	transform:scale(1.2);
}*/
#searchInput{
	text-align:center;
	margin-bottom:15px;
}
#searchInput input{
	font-size:18px;
	padding: 5px 10px 5px 10px;
	text-align:center;
	border:none;
	border-radius:0%;
}

#listWrapper{
	position:relative;
	overflow: auto;

}
#listWrapper span{
	position:absolute;
	top:50%;
	font-size:40px;
}
.left{
	transform: translate(40%,-50%);
	left: 0%;
}
.right{
	transform: translate(-50%,-50%);
	right: 0%;
}

#listWrapper span:hover{
	cursor:pointer;
	color:white;

}

.arrowDiv{
	display: inline-block;
    float: right;
    width: 30px;
    height: 100%;
    text-align: center;
    padding: 7px 10px 13px 10px;
}

.sendEmail{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px;
    color: #252525;
    font-size: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
}
.sendEmail:hover{
	background-color:#ffffff;
}