.mealHead{
	background-color:#66ccff;
	width:100%;
	height:150px;
	margin:auto;
	text-align:center;
}
.mealHead img{
	margin-top:30px;
	height:60%;
}
.mealName{
	background-color:white;
	width:100%;
	padding: 10px;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
	margin-bottom:10px;
}

.day{
	width:14.28%;
	display:inline-block;
		cursor:pointer;
}
.day span:focus{
	background-color:blue;

}

.seven-cols{
	background-color:white;
	margin-top:40px;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
  	cursor:pointer;
    width: 100%;
    padding-right:0px;
    padding-left:0px;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  	padding-right:0px;
    padding-left:0px;
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.table-header{
	text-align:left;
	font-weight: bold;
	font-size:25px;
	padding:15px;
	letter-spacing: -0.5px
}

.day-header{
	word-wrap: break-word;
	text-align:center;
	padding:10px;
	font-size:17px;
	letter-spacing: 1px;
	border-bottom:solid;
	border-width:1px;
	border-color:gray;
}
.day-header:hover{
	background-color:#e6f7ff;
}

.meal-element{
	padding:10px;
	text-align:center;
}
.sel {
    background-color:#e6f7ff;
}