

.removeOutline:focus{
	outline-width: 0;
}
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: 100% !important; 
    vertical-align: middle;
}
}
.form-control:focus, .unitSelect:focus, .rightBarinput:focus{
     border-color: #98cc02 !important; 
    outline: 0 ;
}
input.rightBarinput::-webkit-input-placeholder {
  color: white;
}


.mealHead{
	width:100%;
	height:150px;
	margin:auto;
	text-align:center;
}
.mealHead:hover{
	cursor:pointer;
	opacity:0.8;
}
.mealHead img{
	margin-top:30px;
	height:60%;
}
.mealName{
	
	transition:0.1s;
	margin:0px 10px;
	background-color:white;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
	margin-bottom:10px;
	cursor:pointer;
}
.mealName:hover{
	background-color :#98cc02;
}
.custom-padding{
	padding:10px;
}

.mealName div{
	font-size:13px;
	transition:all linear 0.2s;
}
.mealName button{
	    margin-right: 0px;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 3px 15px;
    border: none;
    background-color: #ff4d4d;
    color: white;
}
.mealName button:hover{
	background-color: #ff8888;
}
.mealName div.ng-hide{
	opacity:0;
} 
.day{
	width:14.28%;
	display:inline-block;
}

.seven-cols{ 
	background-color:white;
	margin-top:40px;
	margin-bottom:40px;
	box-shadow: 2px 12px 7px -7px rgba(161,161,161,0.46);
}

@media (max-width:992px){

}
@media (min-width: 768px){
.floatRight{
	float:right;
}

  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    padding-right:0px;
    padding-left:0px;
    *width: 100%;
  }
}

@media (min-width: 992px) {

.floatRight{
	float:right;
}
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  	padding-right:0px;
    padding-left:0px;
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.table-header{
	text-align:left;
	font-weight: bold;
	font-size:25px;
	padding:15px;
	letter-spacing: -0.5px
}
.table-footer{
	text-align:center;font-size:17px;font-weight:bold;
	padding:15px;
}
.dayheader{
	word-wrap: break-word;
	text-align:center;
	padding:10px;
	font-size:16px;
	letter-spacing: 1px;
	border-bottom:solid;
	border-width:1px;
	border-color:gray;
}
.day-header:hover{
	background-color:#e6f7ff;
}
.meal-element{
	padding:10px;
	text-align:center;
}
.sel {
    background-color:#e6f7ff;
}
#mealNameInput {
	width:100%;
	padding:7px 10px;
	border:none;
	background-color:white;
	font-size:16px;
	margin-bottom:10px;
}
#mealNameInput:focus {
	border:none;
	outline:none;
}
#formcontent {
	padding: 0;
	padding-right:2px;
}
#formcontent > * {
	width:100%;
	border:none;
	border-radius:0;
	margin-bottom:2px;
	height:30px;
}
#formcontent label{
	height:auto;
}
#formcontent > *:focus{
	border:1px solid #98cc02 ;
	outline:none;
}
#formcontent #ingredientsTitle{
	text-align:center;
	font-size:15px;
	padding-top:15px;
}
#formcontent #ingredientsTitle > *{
	width:33%;
	display:inline-block;
}
#formcontent #ingredientsList{
	width:100%;
	display:inline-block;
	text-align:center;
}
#formcontent #ingredientsList .ingredientsRow{
	width:100%;
	display:inline-block;
}

#formcontent #ingredientsList .ingredientsRow input{
		width:100%;
	text-align:center;
	background:none;
	border:none;
	border-radius:0;
	border-bottom:solid 1px black;
}

#formcontent #ingredientsList .ingredientsRow select{
	text-align-last:center;
	cursor:pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
	width:100%;
	padding:3px 0px;
	background:none;
	border:none;
	border-bottom:solid 1px black;
}
#formcontent #ingredientsList .ingredientsRow select:focus{
	border:none;
	outline:none;
}
#formcontent #ingredientsList .ingredientsRow select::-ms-expand{
	display: none;
}
#formcontent #ingredientsList .ingredientsRow input:focus {
	border-bottom:solid 1px #98cc02;
	outline:none;
}
#formcontent #ingredientsList .ingredientsRow select:focus {
	border-bottom:solid 1px #98cc02;
	outline:none;
}

#formcontent i{
	cursor:pointer;
	color:#98cc02;
	font-size:20px;
}
#formcontent button{
	background-color: #98cc02;
	border-color:#98cc02;
	font-weight:bold;
	margin-top:15px;
	width:100%;
}
#removeIcon{
	float: right;
    top: 3px;
    left: 1px;
    color: #ff4d4d;
}
.hoveropacity:hover{
	opacity:0.8
}
#showContent:hover{

	transition-duration: 0.2s;
}
.edit{
	width:65%;
	margin: 0 auto;
	margin-top:10px;
}

.edititem{
/*	cursor:pointer;*/
	color:gray;

	padding-left: 5px;color:gray;

}
/*.edititem:hover{
	transform:scale(1.2);
}*/
#searchInput{
	text-align:center;
	padding:15px 0px;
}
#searchInput input{
	font-size:18px;
	padding: 5px 10px 5px 10px;
	text-align:center;
	border:none;
	border-radius:0%;
	font-weight:700;
	color:#98cc02;
}
#searchInput input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#98cc02;
	font-weight:700;
  }

#listWrapper{
	position:relative;
	overflow: auto;

}
#listWrapper span{
	position:absolute;
	top:50%;
	font-size:40px;
}
.left{
	transform: translate(40%,-50%);
	left: 0%;
}
.right{
	transform: translate(-50%,-50%);
	right: 0%;
}

#listWrapper span:hover{
	cursor:pointer;
	color:white;

}

.arrowDiv{
	display: inline-block;
    float: right;
    width: 30px;
    height: 100%;
    text-align: center;
    padding: 7px 10px 13px 10px;
}

#mealList{
	animation-duration:0.5s;
	animation-fill-mode:forwards;
    position: fixed;
    bottom: 0;
    height:100%;
    color: white;
    font-size: 15px;
    width:300px;
    background-color:#333333;
    left:-220px;
}
#mealList #showingbutton{
	display:inline-block;
    position: absolute;
    right: -41px;
    top:50%;
	transform:rotate(270deg) translateY(-50%);
	float:left;
}
#mealList #showingPanel{
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 260px;
    cursor:pointer;
    z-index:99999;
    border-left: 1px solid #98cc02;
}
#mealList .currentList{
	display:inline-block;
	padding:20px 40px 0px 20px;
	height:90%;
	overflow:auto;
    margin-right: 40px;
    width:260px;
}
#mealList .buttonContainer{
	position: absolute;
    bottom: 0;
    margin-right: 40px;
    border-radius: 0;
}
@keyframes slideLeft{
	from{left:-220px;}
	to{left:40px;}
}
@keyframes slideRight{
	from{left:40px;}
	to{left:-220px;}
}


#mealsTab{
    background-color: #333333;
	position:fixed;
	bottom:0;
	left:80px;
	width:100%;
	text-align:center;
}
#mealsTab .tabName{
	color:white;
	font-size:15px;
	margin:10px 0px;
	margin-right: 80px;
}
#searchMeals{
	padding-left:80px;
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4)
}
#searchMeals #mealsList{
	overflow:auto;
	margin:0 auto;margin-top:100px;
	width: 35%;
    height: 45%;
	background-color:white;
}
#searchMeals #mealsList select{
	width:200px
}
.curDay{
    border-bottom: 1px solid #5bc0de;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}