.sidenav {
    height: 100%; /* 100% Full-height */
    width: 40px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    padding-top:20px;
    background-color: #252525; 
    overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav span {
    color:white;padding-left:28%;cursor:pointer; padding-bottom:15px;
}

.sidenav span:hover{
	outline: 0;
	text-decoration: none;
    color: #3399ff;
}
.sidenav span:nth-child(2):hover{
    color: #33cc33;
}

.sidenav .loginInfo{
    width: 40px;
	position: absolute;
	bottom:0;
    padding-bottom:15px;
}

.info{
    position: fixed;
    left: 42px;
    font-family: 'Lato', sans-serif;
    padding: 7px 10px 7px 10px;
    background-color: rgba(0,0,0,0.5);
    max-width:120px;
    border-radius:2px;
    color:white;
}

.listActive{
    color: #3399ff;
}