.rightBar{
	position:fixed;
	top:0;
	right:0;
	height:auto;
}

.rightBar #content{
	color:white;
	background:rgba(0,0,0,0.4);
	padding: 10px 0px 10px 10px;
	width:230px;
	margin-left:20px;
}

.hideButton{
	margin-top:-1px;
	padding:3px;
	background:rgba(0,0,0,0.4);
	float:left;
}