.rightBar{
	position:fixed;
	z-index: 1030;
	top:0;
	right:0;
	height:auto;
}

.rightBar #content{
	color:white;
	background:rgba(0,0,0,0.4);
	padding: 10px 0px 10px 10px;
	width:230px;
	margin-left:32px;
}

.hideButton{
	font-size:22px;
	cursor:pointer;
	color:white;
	margin-top:-1px;
	padding:5px;
	background:rgba(0,0,0,0.4);
	float:left;
}

.rightBar input:first-child{
	
	width:90%;
}
.rightBar input{
	background-color:transparent;
	border:none;
	border-radius:0px;
	border-bottom:solid;
	border-width:1px;
	border-color:white;
	width:44%;
}

#content span{
	cursor:pointer;
	color:#66ff33;
}

.product {
    padding-bottom:10px;
}