.rightBar{
	position:fixed;
	top:0;
	right:0;
	height:auto;
	max-height:300px;
	overflow-y:scroll;
	width:250px;
}


.visiblebutton{
	position:absolute;
	top:0;
	left:-5;
}

.rightBar #content{

	background:white;
	border:solid;
	border-width: 0px 0px 2px 2px;
	border-color:#9e42f4;
	border-radius:0px 0px 0px 5px;
	padding: 10px 0px 10px 10px;
}

.rightBar #hideButton{
	color:white;
	padding:0px 2px 0px 2px;
	float:right;
	background:#9e42f4;
	border:solid;
	border-width:2px;
	border-color:#9e42f4;
	border-radius:0px 0px 5px 5px;
}