body{
	margin-top:20px;
	background-color:#EBEBEB;
	
}

input{
	border-radius:3px;
	border:solid;
	border-width:1px;
	
	border-color:gray;
	padding:3px;
}

.editMealsChoice{
	color:white;
	background-color:rgba(0,0,0,0.4);	
	height: 60px;
	text-align:center;
	font-size:17px;
	margin-bottom:20px
}
.editMealsChoice > div{
	padding:6px 0px;
	width: 49.5%;
	display:inline-block;
	padding-left:1%;
	padding-right:1%;
	cursor:pointer;
	height: 60px
}
.editMealsChoice > div:hover{
	background-color:#252525;	
}
#allMeals{
	margin-bottom:20px;
}
.showDivv{
	pointer-events: visible !important;
    opacity: 1 !important;
}

.green{
	background-color:#252525;	
}
button{
	border-radius:0 !important;
}

.floatRight{
	float:none;
}
.blackx{
	background-color:rgba(0, 0, 0, 0.2);
	color:white
}
.green{
	background-color:#98cc02
}