<!DOCTYPE html>
<html>
  <head>
  	<% include ../partials/head %>

  </head>

  <body ng-app="easyshopping" ui-view style="background-color:#EBEBEB;font-family: 'Lato', sans-serif;" ng-class="{blockscroll : meallistopen==true}">
	
  </body>

</html>

