<div style="width:50%;margin:auto">
	<form ng-submit="logIn()">
  	<h2 >Zaloguj się</h2>
  	<h3 >Użytkownik</h3>
  	<input type="text" placeholder="Nazwa użytkownika" ng-model="user.username" >

  	<h3 >Hasło</h3>
  	<input type="password" placeholder="Hasło" ng-model="user.password" >
  	<h3>
  	<button type="submit" ui-sref-opts="{reload:true}" class="btn btn-info btn-block" ><b>Zaloguj</b></button>
  	</h3>
	</form>

	<form ng-submit="register()">
  	<h2 >Zarejestruj się</h2>
  	<h3 >Wprowadź nazwę użytkownika</h3>
  	<input type="text" placeholder="Nazwa użytkownika"  ng-model="userRegister.username">

  	<h3 >Wprowadź hasło</h3>
  	<input type="password" placeholder="Hasło"  ng-model="userRegister.password" >
  	<h3>
  	<button type="submit" ui-sref-opts="{reload:true}" class="btn btn-info btn-block" ><b>Zaloguj</b></button>
  	</h3>
	</form>
</div>