<div class="container-fluid login">
  <div class="col-md-12 top">
    <span style="margin:auto">easyShopping</span>
  </div>
  <div class="content" ng-hide="showLogin==true">
    <h1>Zarejestruj się już teraz!</h1>
    <span ng-click="showLogin=true">Mam już konto</span>
    <form ng-submit="register()" style="text-align:center">
      <input type="text" placeholder="Nazwa użytkownika" ng-model="userRegister.username" >
      <input type="password" placeholder="Hasło" ng-model="userRegister.password" >
      <h3>
      <button type="submit" ui-sref-opts="{reload:true}" ><b>Zaloguj</b></button>
      </h3>
    </form>
  </div> 

  <div class="content" ng-show="showLogin==true">
    <h1>Zaloguj się</h1>
    <form ng-submit="logIn()" style="text-align:center">
      <input type="text" placeholder="Nazwa użytkownika" ng-model="user.username" >
      <input type="password" placeholder="Hasło" ng-model="user.password" >
      <h3>
      <button type="submit" ui-sref-opts="{reload:true}" ><b>Zaloguj</b></button>
      </h3>
    </form>
  </div> 

</div>
<div class="container description">
  <div class="row">
    <div class="col-md-3">
      <img src="images/choose.jpg" />
    </div>
    <div class="col-md-3">
      <img src="images/enter.jpeg" />
    </div>
    <div class="col-md-3">
      <img src="images/make.jpg" />
    </div>
    <div class="col-md-3">
      <img src="images/grocery.jpg" />
    </div>
  </div>
</div>



<!-- 	<form ng-submit="register()">
  	<h2 >Zarejestruj się</h2>
  	<h3 >Wprowadź nazwę użytkownika</h3>
  	<input type="text" placeholder="Nazwa użytkownika"  ng-model="userRegister.username">

  	<h3 >Wprowadź hasło</h3>
  	<input type="password" placeholder="Hasło"  ng-model="userRegister.password" >
  	<h3>
  	<button type="submit" ui-sref-opts="{reload:true}" class="btn btn-info btn-block" ><b>Zaloguj</b></button>
  	</h3>
	</form> -->
