<header>
<div class="col-md-7 col-sm-12 headWelcome">
  <div id="title">Easy Shopping</div>
  <div id="subtitle">Układanie tygodniowego planu żywienia i generowanie listy zakupów nie było takie proste!</div>
</div>
<div class="col-md-5 col-sm-12 loginbck" >
  <div class="login">
  <div style="margin:0 auto;display:table;margin-bottom:25px">
  <div class="headTitle" ng-click="showRegister=false" ng-class="{currentHide: showRegister==true}">Logowanie</div>
  <div class="headTitle" ng-click="showRegister=true" ng-class="{currentHide: showRegister==false}">Rejestracja</div>
  </div>
  <div class="content" ng-hide="showRegister==true" >
      <form ng-submit="logIn()">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" ng-model="user.username" placeholder="Nazwa użytkownika">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><span class=" glyphicon glyphicon-lock"></span></div>
          <input type="password" class="form-control" id="inlineFormInputGroup" ng-model="user.password" placeholder="Hasło">
        </div>
        <button type="submit" ui-sref-opts="{reload:true}">Zaloguj się</button>
      </form>
    </div>

    <div class="content" ng-show="showRegister==true">
      <form ng-submit="register()">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" ng-model="userRegister.username" placeholder="Nazwa użytkownika">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><span class=" glyphicon glyphicon-lock"></span></div>
          <input type="password" class="form-control" id="inlineFormInputGroup" ng-model="userRegister.password" placeholder="Hasło">
        </div>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></div>
          <input type="email" class="form-control" id="inlineFormInputGroup" ng-model="userRegister.mail" placeholder="Email">
        </div>

        <button type="submit" ui-sref-opts="{reload:true}">Zarejestruj</button>
      </form>
    </div>
</div>
</div>
  
</header>

<main>
<section>
<div class="container-fluid description">
  <div class="headTitlee" style="color:black;margin-bottom:100px">PO CO / DLACZEGO / DLA KOGO</div>
  <div class="row" >
    <div class="col-md-3">
    <img src="/images/make.png"/>
      <div class="imgtitle">Robisz zakupy raz w tygodniu...</div>
    </div>
    <div class="col-md-3">
    <img src="/images/think.png"/>
      <div class="imgtitle">...co tydzień musisz planować co zjeść i robić listę zakupów...</div>
    </div>
    <div class="col-md-3">
    <img src="/images/angry.png"/>
      <div class="imgtitle">... a nie lubisz tego robić?</div>
    </div>
    <div class="col-md-3">
    <img src="/images/end.png"/>
      <div class="imgtitle">Koniec z tym!<br> Dzięki tej aplikacji ułatwisz sobie ten proces!</div>
    </div>
  </div>
</div>
</section>

<section>
<div class="container-fluid howitworks">
  <div class="headTitlee" style="color:white;margin-bottom:50px">JAK DZIAŁA APLIKACJA?</div>
      <div class="col-md-12" style="margin-bottom:50px">
        <div ng-click="chooseStep(0)" ng-class="{startRotate:animationIndex==0, finish:animationIndex!=0}" class="circleborder">1.</div>
        <div ng-click="chooseStep(1)" ng-class="{startRotate:animationIndex==1, finish:animationIndex!=1}" class="circleborder">2.</div>
        <div ng-click="chooseStep(2)" ng-class="{startRotate:animationIndex==2, finish:animationIndex!=2}" class="circleborder">3.</div>
        <div ng-click="chooseStep(3)" ng-class="{startRotate:animationIndex==3, finish:animationIndex!=3}" class="circleborder">4.</div>
        <div ng-click="chooseStep(4)" ng-class="{startRotate:animationIndex==4, finish:animationIndex!=4}" class="circleborder">5.</div>
      </div>
      <div class="col-md-12">
        <h4>{{currentText}}</h4>
        <img ng-src="{{currentImage}}" style="width:800px" />
      </div>
</div>
</section>
</main>

<footer>
  <div class="container-fluid footer">
    easyShopping - Copyright &copy; 2017 Konrad Dzień
  </div>
</footer>



<!-- 	<form ng-submit="register()">
  	<h2 >Zarejestruj się</h2>
  	<h3 >Wprowadź nazwę użytkownika</h3>
  	<input type="text" placeholder="Nazwa użytkownika"  ng-model="userRegister.username">

  	<h3 >Wprowadź hasło</h3>
  	<input type="password" placeholder="Hasło"  ng-model="userRegister.password" >
  	<h3>
  	<button type="submit" ui-sref-opts="{reload:true}" class="btn btn-info btn-block" ><b>Zaloguj</b></button>
  	</h3>
	</form> -->
