<navbar>
	<div class="sidenav" >
		<span  ng-click="setActive()" ng-mouseover="show1=true" ng-mouseleave="show1=false" ui-sref="main.meals" class=" glyphicon glyphicon-list-alt""><div ng-show="show1" class="info">Stwórz listę</div></span>

		<span  ng-click="setActive()" ng-mouseover="show2=true" ng-mouseleave="show2=false" ui-sref="main.newMeal" class=" glyphicon glyphicon-edit" ><div ng-show="show2" class="info">Dodaj posiłek</div></span>

		<span style="display:none" ng-click="setActive()" ng-mouseover="show3=true" ng-mouseleave="show3=false" ui-sref="main.editMeals" class=" glyphicon glyphicon-leaf" ><div ng-show="show3" class="info">Edytuj posiłki</div></span>

		<div class="loginInfo">
			<span ng-click="logout()" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		</div>
		
	</div>
</navbar>

<div ui-view class="container" style="padding-left:55px;margin-top:30px;margin-bottom:70px;">
</div>

