<div class="rightBar" >
	<span ng-click="showright=!showright" class="glyphicon glyphicon-shopping-cart hideButton"></span>
	<div id="content" ng-show="showright">
		<div ng-repeat="product in list">
				{{product.name}} / {{product.count}} / {{product.unit}} 
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2" ng-repeat="meal in meals" ng-click="addToMealsList($index)">
    <div class="mealHead"><img src="images/meal.png" /></div>
    <div class="mealName">{{meal.name}}</div>
	</div>
</div>

<div class="row seven-cols">
	<div class="col-md-12 table-header" >
		Tygodniowy plan
	</div>
	<div class="col-md-1 " ng-repeat="day in days" ng-click="setDay($index)" >
		<div class="day-header" ng-class="{sel: $index == dayIndex}">
			{{day.name}}
		</div>
		<div class="meal-element" ng-repeat="meal in day.meals track by $index">
			{{meal.name}}
		</div>
	</div>

</div>
<!-- 
	
ng-repeat="meal in day.meals track by $index"
<div class="panel panel-primary" style="">
      <div class="panel-heading">{{meal.name}}</div>
      <div class="panel-body" ng-show="showIngredients==true">
				<ul ng-repeat="item in meal.products">
				  <li>{{item.name}}</li>
				</ul>
      </div>
    </div> -->
<!-- 
<div class="row" >
	<div class="col-md-12">
		<h2 >Wybrane posiłki</h2>
		<div class="col-md-12" ng-repeat="item in picked track by $index">
			{{item.name}} 
		</div>
	</div>
</div> 
 -->