<div style="width:90%;margin:0 auto">

<div style="display:flex;margin-bottom:40px;">
    <div ng-click="editChoice($event,'add')" id="addChoices" class="col-xs-12 col-md-6 hoveropacity blackx green" style="height: 60px !important;height:86px;cursor:pointer">
        <div style="font-size:30px;width:100%;text-align:center; position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
            Dodaj nowy posiłek
        </div>
    </div> 
    <div ng-click="editChoice($event,'edit')" id="editChoices" class="col-xs-12 col-md-6 hoveropacity blackx" style="height: 60px !important;;height:86px;cursor:pointer">
        <div style="font-size:30px;width:100%;text-align:center; position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
            Edytuj posiłek
        </div>
    </div> 
</div>
    <div id="allMeals" ng-show="editmeal">
      <div ng-if="meals.length==0" style="text-align:center;font-size:17px;font-weight:bold"> Nie masz żadnych posiłków.</div>
      <div   class="mealName edit" ng-repeat="meal in meals" ng-init="mealindex=$index" ng-click="editMeal(meal)">
        <div style="    display: inline-block;
        margin: 7px 10px 7px 10px;">{{meal.name}}</div>
        <div style="display:inline-block;float:right">
        </div>
        <div ng-model="clicked" ng-click="removeMeal(meal)" class="arrowDiv"><span id="removeIcon" class="  glyphicon glyphicon-remove"></span></div>
      </div>
    </div>
    
    <input ng-model="newMealName" id="mealNameInput" placeholder="Nazwa posiłku" style="margin-bottom:30px;"></input>
    <div> 
      <div class="col-xs-6 col-md-4 col-lg-3" id="formcontent" ng-repeat="ingredient in ingredients">
          <i ng-click="removeIngredient($index)" class="fa fa-minus" style="width:20px;height:20px;position:absolute;top:0;right:0;color:red"></i>
          <label>Składnik {{$index+1}}</label>
          <input ng-model="ingredients[$index].name" placeholder="Nazwa składnika"></input>
          <select ng-model="ingredients[$index].unit" style="display: inline-block;
          width: 70%;">
            <option value="" disabled selected>Jednostka</option>
            <option value="sztuka">sztuka</option>
            <option value="g">g</option>
            <option value="dag">dkg</option>
            <option value="kg">kg</option>
            <option value="ml">ml</option>
            <option value="l">l</option>
          </select>
          <input ng-model="ingredients[$index].count" onfocus="this.type='number';" min="1" placeholder="Ilość" style="width: 28%;
          display: inline-block; text-align:center"></input>
      </div>
      <div ng-click="addIngredient()" class="col-xs-6 col-md-4 col-lg-3 hoveropacity" style="background-color:rgba(0,0,0,0.3);height:86px;cursor:pointer">
          <i  class="fa fa-plus-circle" aria-hidden="true" style="font-size:50px; position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)"></i>
      </div>
    </div>
    <div ng-click="addMeal()" class="col-md-offset-2 col-xs-12 col-md-8 hoveropacity" style="height: 60px !important;margin-top:40px;color:#98cc02;height:86px;cursor:pointer">
        <div style="font-size:30px;width:100%;text-align:center; position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
            {{choiceButton}}
        </div>
    </div>    
    
</div>