
			 <div >
				<div class="col-md-12">
					<span style="font-size:20px;padding-right:5px;cursor:pointer" ng-click="showForm()">Nowy posilek</span>
					<div ng-show="showNewMealForm==true" style="display:inline-block">
						<input ng-model="newMealName"></input>
					</div>
					<div ng-show="showNewMealForm==true" class="form-group" style="margin-top:10px">
						<div ng-repeat="ingredient in ingredients" style="display:inline-block;margin:auto">
							<label>Nazwa składnika</label>
							<input ng-model="ingredients[$index].name"></input>
							<label >Ilość</label>
							<input type="number" ng-model="ingredients[$index].count"></input>
							<label>Jednostka</label>
							<input ng-model="ingredients[$index].unit"></input>
						</div>
						<button  class="btn btn-info" ng-click="addIngredient()" >Dodaj kolejny składnik</button>
					</div>
					<button ng-show="showNewMealForm==true" class="btn btn-success" ng-click="addMeal()">Dodaj posiłek</button>
				</div>
			</div>