<div class="row" id="formcontent">
<form>
   <input ng-model="newMealName" id="mealNameInput" value="Nazwa posiłku"></input>
  <div id="ingredientsTitle">Składniki</div>
  <div id="ingredientsList">
<!-- lista -->
  <div ng-repeat="ingredient in ingredients">
    <div class="ingredientsRow">
      <div class="col-md-4" id="ingredientName">
        <input ng-model="ingredients[$index].name"></input>
      </div>
      <div class="col-md-4" id="ingreditenUnit">
        <select ng-model="ingredients[$index].unit">
          <option value="sztuka">sztuka</option>
          <option value="g">g</option>
          <option value="dag">dkg</option>
          <option value="kg">kg</option>
          <option value="ml">ml</option>
          <option value="l">l</option>
        </select>
      </div>
      <div class="col-md-4" id="ingredientNumber">
        <input  ng-model="ingredients[$index].count" type="number" min="0">
      </div>
    </div>
<!--     lista -->
  </div>
  </div>

  <i ng-click="addIngredient()"  class="fa fa-plus-circle" aria-hidden="true" style="padding-top:5px;float:right"></i>
</form>
  <button  class="btn btn-success" ng-click="addMeal()" >Dodaj posiłek</button>
</div>

