<div class="editMealsChoice">
<div ng-click="editChoice($event,'add')" id="addChoices" class="green">Dodaj nowy posiłek</div>
<div ng-click="editChoice($event,'edit')" id="editChoices">Edytuj istniejący posiłek</div>
</div>
<div class="row" id="formcontent">
<form>
   <input ng-model="newMealName" id="mealNameInput" value="Nazwa posiłku"></input>
  <div id="ingredientsTitle"><div>Nazwa składniku</div><div>Typ</div><div>Ilość</div></div>
  <div id="ingredientsList">
<!-- lista -->
  <div ng-repeat="ingredient in ingredients">
    <div class="ingredientsRow">
      <div class="col-md-4" id="ingredientName">
        <input ng-model="ingredients[$index].name"></input>
      </div>
      <div class="col-md-4" id="ingreditenUnit">
        <select ng-model="ingredients[$index].unit">
          <option value="sztuka">sztuka</option>
          <option value="g">g</option>
          <option value="dag">dkg</option>
          <option value="kg">kg</option>
          <option value="ml">ml</option>
          <option value="l">l</option>
        </select>
      </div>
      <div class="col-md-4" id="ingredientNumber">
        <input  ng-model="ingredients[$index].count" type="number" min="1">
      </div>
    </div>
<!--     lista -->
  </div>
  </div>

  <i ng-click="removeIngredient()" class="fa fa-minus-circle" aria-hidden="true" style=";padding-left:5px; padding-top:5px;float:right; color:red"></i>
  <i ng-click="addIngredient()"  class="fa fa-plus-circle" aria-hidden="true" style="padding-top:5px;float:right"></i>
</form>
  <button  class="btn btn-success" ng-click="addMeal()" >{{choiceButton}}</button>
</div>


<div id="allMeals">
  <div ng-if="meals.length==0" style="text-align:center;font-size:17px;font-weight:bold"> Nie masz żadnych posiłków.</div>
  <div   class="mealName edit" ng-repeat="meal in meals" ng-init="mealindex=$index" ng-click="editMeal(meal)">
    <div style="    display: inline-block;
    margin: 7px 10px 7px 10px;">{{meal.name}}</div>
    <div style="display:inline-block;float:right">
    </div>
    <div ng-model="clicked" ng-click="removeMeal(meal)" class="arrowDiv"><span id="removeIcon" class="  glyphicon glyphicon-remove"></span></div>
  </div>
</div>
